* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-to-cart {
  display: grid;
  border: 1px solid black;
  margin: 4px;
  grid-template-rows: 50px 50px;
  grid-template-columns: repeat(5, 1fr);

  .item-1 {
    background-color: #f1c196;
  }

  .item-2 {
    background-color: #f1c196;
    grid-column: span 4;
    justify-content: center;
  }

  div:nth-child(n + 3) {
    background-color: #faeadb;
  }

  div:nth-child(n) {
    display: grid;
    place-items: center;
    border: 1px solid black;
    width: 100%;
  }
}
